<div class="list-posts">
  <%= for post <- @posts do %>
    <div class="post">
      <div class="info left">
        <span class="title">
          <a href="<%= post_path(@conn, :edit, post.id) %>"><%= post.title %></a>
          <a href="<%= post_path(@conn, :show, post.slug) %>"
            class="view" target="_blank">view post</a>
        </span>
        <span class="short"><%= post.data.small %>...</span>
      </div>
      <div class="clear"></div>
    </div>
  <%= end %>
</div>
