<div class="list-posts">
  <%= for post <- @posts do %>
    <div class="post">
      <div class="info left">
        <span class="title">
          <a href=""><%= post.title %></a>
          <a href=""
            class="view" target="_blank">view post</a>
        </span>
        <span class="short"><%= post.data.short_text %></span>
      </div>
    </div>
  <%= end %>
</div>
