<%= form_for @changeset, post_path(@conn, :create), fn f -> %>

  <%= text_input f, :title, class: "input" %>
  <%= text_input f, :body, class: "input" %>
  <%= text_input f, :slug, class: "input" %>
  <%= hidden_input f, :user_id, value: "0" %>

  <%= submit "Submit", class: "btn" %>

<% end %>
