<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>

    <!-- <header class="admin-header">
      <ul class="nav">
        <li><a href="<%= post_path(@conn, :index) %>">View Posts</a></li>
        <li><a href="<%= post_path(@conn, :new) %>">New Post</a></li>
      </ul>
    </header>

    <div class="container">
      <%= @inner %>
    </div> -->
    <div id="container"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
