<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>

    <header class="admin-header">
      <div class="logo">
        <a href="/" class="text">Blog</a>
      </div>

      <div class="nav">
        <div class="items">
          <span class="item"><a href="<%= admin_path(@conn, :index) %>">Dashboard</a></span>
          <span class="item">
            <a href="<%= admin_path(@conn, :index) %>">Posts</a>
            <div class="slider">
              <span class="item"><a href="<%= admin_path(@conn, :index) %>">New</a></span>
              <span class="item"><a href="#">Find</a></span>
              <!-- make find show search modal to filter posts -->
              <span class="item"><a href="#">Settings</a></span>
            </div>
          </span>
          <span class="item">
            <a href="<%= admin_path(@conn, :index) %>">Pages</a>
            <span class="slider">
              <span class="item"><a href="<%= admin_path(@conn, :index) %>">New</a></span>
              <span class="item"><a href="#">Settings</a></span>
            </span>
          </span>
        </div>
      </div>

      <div class="user">
        <div class="avatar">
          <img src="http://www.fillmurray.com/100/100" alt="">
        </div>
      </div>
    </header>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <div class="admin-content">
      <%= @inner %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
