<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>G33KIDD</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <div class="container">
        <img src="https://www.fillmurray.com/300/300" alt="Logo" class="logo" />
        <nav class="main-nav" role="navigation">
          <div class="nav-item"><a class="item" href="#">Blog</a></div>
          <div class="nav-item"><a class="item" href="#">Portfolio</a></div>
          <div class="nav-item"><a class="item" href="#">Services</a></div>
          <div class="nav-item"><a class="item" href="#">About Me</a></div>
          <div class="nav-item">
            <a href="#" class="btn blue sm-rad upper">Get in Touch</a>
          </div>
        </nav>
      </div>
    </header>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer"></footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
