// Not very Mobile friendly ATM
header.admin-header {

  background-color: $admin-header-bg;
  padding: 5px 15px;
  height: 60px;
  max-height: 60px;

  .logo {
    position: relative;
    float: left;
    .text {
      display: block;
      font-weight: 600;
      padding: 12px 10px;
      color: $admin-logo-color;
      text-decoration: none;
      font-size: 20px;
    }
    img {
      max-height: 50px;
      height: 50px;
      padding: 0px;
    }

    &:hover {
      .text {
        color: lighten($admin-logo-color, 30%);
      }
    }
  }

  .nav {
    float: left;

    .items {
      padding: 16px 20px;

      .item {
        display: inline;
        padding: 0px 5px;

        a {
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          color: #FFF;
          padding: 0px 5px;
          text-decoration: none;
          &:hover {
            color: #A77D50;
          }
        }

        &:last-of-type {
          padding-right: 0px;
        }

        .slider {
          display: none;
          .item {
            padding: 0px 0px;
            a {
              font-size: 12px;
              &:hover {
                color: #5079A7;
              }
            }
          }
        }

        &:hover {
          .slider {
            display: inline;
            border-bottom: 2px solid #FFF;
          }
        }
      }
    }
  }

  .user {
    float: right;

    .avatar {
      padding: 2px;
      img {
        height: 45px;
        margin: 0px;
        width: auto;
        border-radius: 100%;
        border: 2px solid #505050;
      }
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
