.posts {
  padding:0px;
  margin: 0px;

  .post {
    padding: 50px;

    background-color: $s2-bg;
    color: $s2-color;
    a {
      color: $s2-link-color;
    }

    &:nth-child(2n+2) {
      background-color: $s1-bg;
      color: $s1-color;
      a {
        color: $s1-link-color;
      }
    }

    .title {
      font-size: 40px;
      padding-bottom: 30px;
    }

    p {
      font-size: 18px;
      line-height: 1.56;
    }

    // meaning, when the user scrolls down and the title gets cut off.
    // should alternate based on sections.
    &.is-active-post {

    }
  }
}
