// Global Document Styles
* { box-sizing: border-box; }
body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

// Header Styles
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul, li {
  list-style: none;
}
