// Section Settings
$color-gold: #e3a85b;
$color-blue: #455598;

// DARK SECTION
$s1-bg: #333333;
$s1-color: #FFFFFF;
$s1-link-color: $color-gold;

// LIGHT SECTION
$s2-bg: #EEEEEE;
$s2-color: #333333;
$s2-link-color: $color-gold;

$support-for: ('*': -4);
