/* COLORS */
$color-gold: #e3a85b;
$color-blue: #455598;
$color-orange: #E28018;

/* ADMIN SETTINGS */
$admin-header-bg: #333;
$admin-logo-color: #999;
$admin-bg-color: #F5F5F5;
$admin-post-list-color: #FFFFFF;
$admin-post-list-shadow: #999999;
$admin-post-link-color: #333333;

/* SECTIONS */
$dark-bg: #333333;
$dark-color: lighten(#333, 60%);
$dark-link-color: $color-gold;
$light-bg: #EEEEEE;
$light-color: #333333;
$light-link-color: $color-gold;

/* GRID SETTINGS */
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

// for normalize
$support-for: ('*': -4);
