@import "global";
@import "components/admin_header";

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  .hidden {
    display: none !important;
  }
  .admin-content {
    padding: 10px 20px;
    @include container(60em);
  }
}
