@import url(https://fonts.googleapis.com/css?family=Raleway:300,500,700,400);
@import "./settings";
@import "~susy/sass/susy";
@import "~normalize.css/normalize.css";

@import "./components/editor";
@import "./components/grid";
@import "./components/admin_header";

@import "./admin/posts";

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  .hidden {
    display: none !important;
  }
  .admin-content {
    padding: 10px 20px;
    @include container(60em);
  }
}
