@import "global";
@import "admin/header";
@import "admin/posts";

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color: #F5F5F5;
  font-family: 'Raleway', sans-serif;
  .hidden {
    display: none !important;
  }
  .admin-content {
    padding: 10px 20px;
    @include container(60em);
  }
}
