@import "settings";
@import "reset";
@import "grid";
@import "header";
@import "forms";
@import "buttons";

body {
  font-family: "Lato", sans-serif;
  background: #F9F9F9;
}

.hero {
  width: 100%;
  background: #FFF;
  padding: 15px 20px;
}
