.post-page {
  padding: 5px 0;

  .post-list {
    .post {
      padding: 10px 0;
      // background-color: #333;

      &:hover {
        background-color: #FDFDFD;
      }

      .top {
        .edit {
          @include span(1);
          a {
            padding: 10px 15px;
            background-color: #F5F5F5;
            display: block;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: #777;
            font-weight: 600;
            &:hover {
              background-color: #C5C5C5;
            }
          }
        }
        .title {
          @include span(8);
          font-size: 20px;
          padding-top: 8px;
        }

        .actions {
          @include span(3);
          button {
            display: inline-block;
          }
        }

        &:after {
          content: "";
          display: block;
          @include break;
        }
      }
      .bottom {
        padding-top: 5px;

        .wordCount {
          @include span(8);
          @include push(1);
        }

        &:after {
          content: "";
          display: block;
          @include break;
        }
      }
    }
  }

}
