<div class="list-posts">
  <%= for post <- @posts do %>
    <div class="post">
      <div class="title"><%= post.data.title %></div>
      <div class="content"><%= post.data.body %></div>
    </div>
  <% end %>
</div>
