<div class="posts">

  <%= for post <- @posts do %>
    <div class="post">
      <div class="container">
        <a href="/<%= post.slug %>">
          <div class="title"><%= post.data.title %></div>
        </a>
        <div class="content"><%= post.data.body %></div>
      </div>
    </div>
  <%= end %>

</div>
