.header {
  background-color: #333;
  height: 50px;
  max-height: 50px;

  .nav {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      padding: 15px 10px;
      a {
        font-size: 16px;
        color: #FEFEFE;
        text-decoration: none;
        padding: 5px 0;
      }
    }
  }
}

// header.admin-header {
//
//   background-color: $admin-header-bg;
//   padding: 5px 15px;
//   height: 60px;
//   max-height: 60px;
//
//   ul.nav {
//     list-style: none;
//     margin: 0px;
//     padding: 10px 0px;
//     padding-left: 0px;
//     li {
//       display: inline-block;
//       padding: 5px 5px;
//       &:first-of-type {
//         padding-left: 0px;
//         a {
//           padding-left: 0px;
//         }
//       }
//       a {
//         font-size: 18px;
//         color: #FFF;
//         padding: 5px 5px;
//         text-decoration: none;
//         &:hover {
//           color: darken(#FFF, 29%);
//         }
//       }
//     }
//   }
//
// }
